__pycache__/
*.npy
*.npz
*.pyc
*.pyd
*.so
*.ipynb
.ipynb_checkpoints
models/*
!models/.gitkeep
!models/base_models/.gitkeep
!models/lora_weights/.gitkeep
outputs/*
!outputs/.gitkeep
data/*
!data/.gitkeep
wandb/
**/.DS_Store
